<h1>User List </h1>
<table class="table table-striped">
  <tr>
    <th>id:</th>
    <th>Name:</th>
    <th>username</th>
    <th>email</th>
    <th>role</th>
    <th>action</th>
  </tr>
  <tr *ngFor="let user of listUser,let i=index ">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
    <td>
      <button class="btn btn-sm btn-danger"
              (click)="delete(i)"
              [disabled]="user.role=='admin'">delete</button>
      &nbsp;
      <button class="btn btn-sm btn-info" [routerLink] = "['/user',user.id]">show user</button>
    </td>
  </tr>
</table>

